.App {
  text-align: center;
  /* background: radial-gradient(circle, #f0b73d 60%, #98cfe9 40%); */
  background: radial-gradient(circle, rgb(158, 212, 103) 20%, #eedfbe 80%);
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  position: relative;
}
* {
  user-select: none;
}
.title {
  font-family: 'Roboto';
  font-size: 1.8vw;
  font-weight: bold;
  font-style: italic;
}
.title-small {
  font-family: 'Roboto';
  font-size: 1.6vw;
  font-weight: bold;
  font-style: italic;
}
.legend {
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.IOCLImage {
  background: url(../public/IOCL.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 19vh;
  width: 16vw;
  position: absolute;
  top: 0;
  left: 0;
}
.title-bar {
  height: fit-content !important;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.iframe-style {
  height: 58%;
}
.legend-div {
  margin: 0px 20px;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .IOCLImage,
  .title-bar {
    height: 23vh;
  }
  .title {
    font-size: 4vw;
    margin-top: 2%;
  }
  .title-small {
    font-size: 3.5vw;
    margin: 2%;
  }
  .IOCLImage {
    background-position: center 5%;
  }
  .iframe-style {
    /* height: 50%; */
    flex: 1;
    margin-bottom: 5px;
  }
  .legend {
    font-size: 12px;
  }
}
